.preview-image-list {
    display: inline-block;
    min-width: 200px;
    overflow: auto;
    list-style-type: none;
    scrollbar-width: none;
}

.preview-image-list::-webkit-scrollbar {
    display: none;
}
